.container
  .row
    .col-sm-6.col-sm-offset-3
      %h2.text-center Log in
      = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
        = f.password_field :password, autocomplete: "current-password", class: 'form-control'
        - if devise_mapping.rememberable?
          = f.check_box :remember_me
        = f.submit "Log in", class: 'form-control login-button'
